.search-bar-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
}

.search-input {
  min-width:70vw;
  max-width:70vw;
  margin: 0 auto;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s ease;
}

.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}
