html, body, #root {
  height: 100%;
  margin: 0;
}
.app{
min-height: 70vh;
min-width: min-content;
max-width: 1500px;
margin: auto;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 2rem;
}
